include ../blocks/header/header.pug
include ../blocks/search/search.pug
include ../blocks/navigation/navigation.pug
include ../blocks/info/info.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/popup/popup.pug
include ../blocks/modal/modal.pug
