mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__area
      .footer__text © 2012 – 2020 ООО&nbsp;«Название&nbsp;компании»
      img.footer__icon(src="img/footer_ic.png", alt="TrustLogo") 
        