mixin partners(modifier)
  section.partners&attributes(attributes)
    .partners__area
      h2.partners__title С нами работают
      ul.partners__list
        li.partners__item
          img.partners__logo(src="img/logo_partner1.svg", alt="Logo")
          h3.partners__name Партнёр 1
        li.partners__item
          img.partners__logo(src="img/logo_partner2.svg", alt="Logo")
          h3.partners__name Компания-партнер с длинным названием
        li.partners__item
          img.partners__logo(src="img/logo_partner3.svg", alt="Logo")
          h3.partners__name Партнёр 3
        li.partners__item
          img.partners__logo(src="img/logo_partner4.svg", alt="Logo")
          h3.partners__name Название партнёра 4
        li.partners__item
          img.partners__logo(src="img/logo_partner5.svg", alt="Logo")
          h3.partners__name Компания-партнёра 5
        li.partners__item
          img.partners__logo(src="img/logo_partner6.svg", alt="Logo")
          h3.partners__name Партнер 6 с длинным названием