mixin popup(modifier)
  .popup&attributes(attributes)
    .popup__area
      p.popup__text Тел. поддержки
      a.popup__phone(href="tel:88001234567") 8 800 123-45-67
      a.popup__email(href="mailto:") Написать письмо