.popup {
    position: absolute;
    top: 50px;
    right: 20px; 
    opacity: 0;
    transform: scale(0.5);
    visibility: hidden;
    transition: all 0.3s;
    &::before {
        content: " ";
        display: block;
        transform: translateY(-9px);
        width: 100%;
        clip-path: polygon(90% 0%, 94% 100%, 86% 100%);     
        background-color: #ffffff;
        height: 10px;
    }
    &--open {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        width: 100%;
        max-width: 241px;
        background-color: #ffffff;
        box-shadow: 0px 3px 12px #00000033;
    }
    &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 23px 16px 18px;
    }
    &__text {
        font-size: 1em;
        line-height: lh-to-pct(22, 16);
        font-weight: 400;
    }
    &__phone {
        margin-bottom: 20px;
        font-size: px-to-em(28);
        line-height: lh-to-pct(38, 28);
        font-weight: 600;
        text-decoration: none;
        color: #000000;
    }
    &__email {
        font-size: 1em;
        line-height: lh-to-pct(22, 16);
        font-weight: 600;
        color: #004685;
        transition: 0.3s;
        &:hover {
            color: #569DDC;
        }
    }
}
